#canvas{
    width: 60vw;
    height: 80vh;
    border: 1px black solid;
}
.button {
    width: 120px;
    height: 20px;
    display: flex;
    justify-content: space-around;
}

#start {
    background-color: rgb(86, 151, 86);
}

#reset {
    background-color: cornflowerblue
}